  
@media (max-width: 1365px) {
    .sidepanel {
        display: none;
    }
}

@media(max-width: 1200px) {  //993px
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }

    .about-me {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
    }
    
    .resume {
        &__wrapper {
            padding: 30px 35px 0 35px;
            column-gap: 50px;
        }
    } 

    .portfolio {
        &__wrapper, .game, .react {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }


    .contacts {
         &__wrapper {
            grid-template-columns: 290px 575px;
            column-gap: 34px;
        }
        &__form {
           grid-template: 40px 180px 45px / repeat(2, 270px);
        }
    }
  
}


@media (max-width: 992px) {   //769px
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }

    .about-me {
        &__wrapper {
            grid-template-columns: 320px 380px;
            column-gap: 30px;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: 425px;
            justify-content: center;
            row-gap: 50px;
        }
        &__column {
            &-title {
                font-size: 25px;
            }
        }    
    }
    
    .skills {
        &__wrapper {
            grid-template-columns:repeat(2, 300px);
            grid-template-rows: repeat(2, 300px);
            grid-auto-rows: 300px;
            gap: 30px;
        }
        .progress {
            margin-top: 40px;
            grid-template-columns: repeat(2, 300px);
        }
    }


    .contacts {
        &__wrapper {
           grid-template-columns: 290px 575px;
           column-gap: 34px;
        }
        &__form {
            row-gap: 20px;
            grid-template: 40px 40px 180px / 328px;
        }
        &__textarea {
            grid-column: 1 / 2;
        }
        &_email {
            grid-column: 1 / 2;
        }

        &__triggers {
            grid-template-columns: auto;
            grid-gap: 15px;
            grid-column: 1 / 2;
        }
        &__policy {
            padding-top: 20px;
            font-size: 13px;
        }
    }
   
}

@media (max-width: 768px) { //577px
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .about-me {
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: 1fr;
            grid-template-rows: 450px auto;
            row-gap: 40px;
            grid-template-areas: 
            "photo photo"
            "me me";
            // "skill skill";
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns:repeat(2, 260px);
            grid-template-rows: repeat(2, 260px);
            grid-auto-rows: 260px;
            gap: 15px;
        }
        .progress {
            margin-top: 60px;
            grid-template-columns: 300px;
        }
    }

    .portfolio {
        padding-top: 40px;
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 430px;
        }
        &__photo {
            display: none;
        }
        &__me {
            margin: 0 auto;
        }
        &__form {
            grid-template: 40px 40px 180px / 337px;
        }
    }
}

@media (max-width: 576px) { //320px
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            margin-top: 26px;
            font-size: 24px;
            line-height: 36px;
        }
        &_fz21 {
            margin-top: 15%;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/Background.jpg') no-repeat 57%/cover;
        .container {
            margin-top: 50px;
        }
        &__btns {
            margin-top: 30px;
        }
    }

    .about-me {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 340px auto;
        }
        .title_fz23 {
            font-size: 20px;
        }
    }

    .resume {
        &__wrapper {
            grid-template-columns: 292px;
            justify-content: center;
            row-gap: 50px;
            margin-right: 12px;
        }
        &__column {
            &-title {
                font-size: 20px;
            }
        }
        &__item {
            &-location {
                margin-top: 0;
            }
        }    
    } 

    .skills {
        .line {
            margin-top: 15px;
            margin-bottom: 20px;
        }
        &__wrapper {
            display: grid;
            grid-template-columns: 270px;
            grid-template-rows: repeat(5, 270px);
            row-gap: 20px;
        }
        .progress {
            margin-top: 40px;
            grid-template-columns: 300px;
            grid-template-rows: repeat(3, 70px);
            &__subtitle {
                &:before {
                    left: 18px;
                }
            }
        }
    }

    .contacts {
        &__wrapper {
            padding: 0 10px 0 10px;
            grid-template-columns: 300px;
        }
        &__photo {
            display: none;
        }
        &__triggers {
            grid-gap: 0;
        }
        &__me {
            margin: 0;
        }
        &__form {
            grid-template:45px 45px 180px / 280px;;
        }
        &__btn {
            margin-top: 20px;
            grid-row: 5;
        }
        &__policy {
            padding-top: 0;
        }
    }
}

