.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    &_fz13 {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
    }
    &_fz14 {
        font-size: 14x;
        line-height: 21px;
        color: #fff;
        &-black {
            font-size: 14px;
            color: black;
            line-height: 30px;
        }
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
    }
    &_fz20 {
        font-size: 30px;
        line-height: 30px;
    }
    &_fz21 {
        margin-top: 4%;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
    }
    &_fz23 {
        font-size: 23px;
        color: black;
    }
    &_fz48 {
        font-size: 48px;
        color: #fff;
    }
    &_fz36 {
        font-size: 36px;
        color: black;
    }
    &__section-title {
        color: black;
        text-align: center;
        position: relative;
        @include brown_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}